<div class="vh-75 overflow-hidden relative pa4 pa5-ns mb4 flex flex-wrap items-center">
  <div class="white z-1 relative w-100 w-100-m w-60-ns" >
    <h1 class="mt0 mb3 tungsten ttu f2 f1-ns antialiased"><%= title %></h1>
    <h3>Secondary title</h3>
    <p class="lh-body"> <%= lorem.sentences 2 %> </p>
    <a href="#" class="dib ph3 pv2 bg-blue white br-pill f6"><i class="white mr2 fas fa-shopping-basket"></i> Explore</a>

  </div>
  <img data-rellax-percentage="0.5" data-rellax-speed="-2" class="rellax w-100 vh-100 fit-cover absolute left-0 top-0"src="images/<%= "#{bg}" %>" alt="">
</div>
