<nav>
  <div class="ph3 bb b--black-10 flex flex-row justify-between h3 items-center">
    <a class="w3 w4-ns dib flex items-center" href="/">
      <div class="db db-m dn-l"><i class="f4 mh3 fas fa-bars"></i></div>
      <img src="images/logo.svg" class="db" alt="">
    </a>
    <div data-role="MAINNAV" class="dn dn-m db-l">
      <ul class="flex list ttu f6 pa0 ma0">
        <li class="ph2"><a href="#">Store</a></li>
        <li class="ph2"><a href="#">Services & Apps</a></li>
        <li class="ph2"><a href="#">Get Inspired</a></li>
        <li class="ph2"><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="flex">
      <div class="mr0 mr0-m mr2-l"><i class="f7 nevada mr2 fas fa-search"></i><span class="nevada dn dn-m di-l">Search<span class="red">_</span></span></div>
      <ul class="flex list pa0 ma0">
        <li class="ml3 ml4-ns"><i class="f7 nevada mr2 fas fa-user"></i></li>
        <li class="ml3 ml4-ns"><i class="f7 nevada mr2 fas fa-heart"></i></li>
        <li class="ml3 ml4-ns"><i class="f7 nevada mr2 fas fa-shopping-basket"></i></li>
      </ul>
    </div>
  </div>
  <div class="bb b--black-10 pv3">
    <ul data-role="SECONDARYNAV" class="flex list row flex-row justify-between f6 pa0">
      <li><a class="active" href="#">Cameras</a></li>
      <li><a href="#">Lenses</a></li>
      <li><a href="#">Camcorders</a></li>

      <li class="dn dn-m db-l"><a href="#">Printers & Office</a></li>
      <li class="dn db-m db-l"><a href="#">Accessories</a></li>
      <li class="dn dn-m db-l"><a href="#">Ink, Toner & Paper</a></li>
      <li class="dn dn-m db-l"><a href="#">Buying Guides</a></li>
      <li class="dn db-m db-l"><a href="#">Offers</a></li>

      <li class="db db-m dn-l"><i class="f7 nevada mr2 fas fa-bars"></i></li>
    </ul>
  </div>
  <div class="nowrap overflow-x-auto mv3">
    <div class="row">
      <ul data-role="BREADCRUMB" class="ma0 f6 nevada pa0 list flex">
        <li class="pr3"><a href="#">Home</a></li>
        <li class="pr3"><a href="#">Store</a></li>
        <li class="pr3"><a href="#">Cameras</a></li>
        <li class="pr3"><a href="#">Compact Digital Cameras</a></li>
      </ul>
    </div>
  </div>
</nav>
