<% (1..8).each do |i| %>
  <div class="mb4" data-role="SINGLEFACET" data-state="<%= randomword(['open', 'closed']) %>">
    <p data-role="TOGGLE" class="nevada hover-black bb b--black-20 mb1 ttu ma0 pv2 flex justify-between items-center">
      <span class="f7 tracked b"><%= randomword(["Price Range", "Categories", "Offers", "Best for", "Colour"]).titleize %></span>
      <span data-role="TOGGLEARROW" class="toggle dib ph2 pv1 tc br1 f7"><i class="f7 fas fa-caret-down"></i></span>
    </p>
    <ul class="list pa0 ma0" data-role="TOGGLELIST">
      <% (1..rand(3..5)).each do |i| %>
      <div class="flex flex-row items-center">
        <label class="container nevada hover-black f6 mv2"><%= randomword(["PowerShot Cameras", "Superzoom Cameras", "IXUS Cameras", "Bridge Cameras", "Pocket Cameras"]).titleize %> <span class="f7 black tracked">(<%= rand(5..30) %>)</span>
          <input type="checkbox" data-role="CHECKBOX">
          <span class="checkmark"></span>
        </label>
      </div>
      <% end %>
    </ul>
  </div>
<% end %>
