<% (1..8).each do |i| %>
  <div class="mb4">
    <p class="bb b--black-20 ttu black ma0 pv2 pl3 flex justify-between items-center">
      <span class="f7 tracked"><%= randomword(["Price Range", "Categories", "Offers", "Best for", "Colour"]).titleize %></span>
      <span data-role="TOGGLE" class="toggle dib ph2 tc br1 hover-bg-black-10"><i class="f7 nevada fas fa-angle-up"></i></span>
    </p>
    <ul class="list pa0 ma0" data-role="TOGGLELIST">
      <% (1..5).each do |i| %>
        <li class="ph3 pv2 f7 f6-ns bb b--black-10"><%= randomword(["PowerShot Cameras", "Superzoom Cameras", "IXUS Cameras", "Bridge Cameras", "Pocket Cameras"]).titleize %> (<%= rand(5..30) %>)</li>
      <% end %>
    </ul>
  </div>
<% end %>
