<div class="flex flex-column mb3 mb0-ns" data-role="TILE">
  <div class="aspect-ratio-ns aspect-ratio--1x1-ns bg-near-white z--1">
    <div class="aspect-ratio--object-ns flex items-center pa2 pa3-m pa4-l overflow-hidden">
      <img class=" h4 h-auto-m h-auto-l fit-contain w-100" src="images/camera<%= rand(1..4) %>.png" alt="">
    </div>
  </div>
  <div class="ph3">
    <div class="flex mt3">
      <i class="f7 gold mr1 fas fa-star"></i>
      <i class="f7 gold mr1 fas fa-star"></i>
      <i class="f7 gold mr1 fas fa-star"></i>
      <i class="f7 gold mr1 fas fa-star"></i>
      <i class="f7 light-yellow mr2 fas fa-star"></i>
      <span class="f7">4.<%= rand(0..9) %>	(<%= rand(4..23) %>)</span>
    </div>
    <p class="mt3 lh-title"><%= randomword(["Canon PowerShot G1 X Mark III Extra long title that go over 3 lines", "Canon PowerShot G1 X Mark III", "Canon PowerShot SX730 HS Silver", "Canon PowerShot G9 X Mark II Silver"]) %></p>
    <% if rand(2) == 1  %>
    <span class="promotion ttu bg-cardinal-pink white dib white-space ph2 pv1 f7">Save £80 at checkout</span>
    <% end %>
    <ul class="f7 pl3">
      <li class="mb2">3x fast aperture optical zoom</li>
      <li class="mb2">24.2 MP APS-C Sensor</li>
      <li class="mb2">Dual Pixel CMOS AF</li>
    </ul>
  </div>
  <div class="ph3 pb4 mt-auto">
    <p class="f4 mv2">£1,089.99</p>
    <a href="#" class="dib ph3 pv2 ba b--olive olive br-pill f6"><i class="olive mr2 fas fa-shopping-basket"></i> View product</a>
  </div>
</div>
