---
title: Canon Parallax
---

<div class="row mb5">
  <h1 class="mt4 mb4 tungsten ttu f2 f1-ns">Parallax</h1>
  <%= partial "partials/banner", :locals => {:title => 'Header H1', :bg => 'background1.jpg' } %>
  <%= partial "partials/banner", :locals => {:title => 'Title', :bg => 'background2.jpg'  } %>
  <%= partial "partials/banner", :locals => {:title => 'Another title', :bg => 'background3.jpg'  }%>
</div>

<script>
  // Center all the things!
  var rellax = new Rellax('.rellax', {
    center: true
  });
</script>
